.ui-select-container.ng-invalid-required,
.ui-select-container.ng-invalid-required > a.select2-choice,
.ui-select-container.ng-invalid-required > a.select2-choice > .select2-chosen
{
    background-color: rgba(255, 0, 0, 0.10);
}

.ng-invalid-required > div.selectize-input {
    background-color: rgba(255, 0, 0, 0.10);
}

.ui-select-bootstrap.ng-invalid-required .btn-default {
    background-image: none;
    background-color: rgba(255, 0, 0, 0.10);
}

.ui-select-container.ui-select-bootstrap {
    top: -4px;
}